<div class="pet-form">
  <h4>{{header}}</h4>
  <form>
    <mat-grid-list [cols]="3" rowHeight="200px">
      <mat-grid-tile *ngIf="!pet.pictures" class="grid-item">
        <mat-card class="example-card">
          <mat-card-content>No pictures to display</mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile *ngFor="let picture of pet.pictures" class="image-card">
        <mat-card class="example-card">
          <mat-card-content>
            <img mat-card-image src="{{imageUrl}}/{{picture}}" class="card-image">
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <div>
      <mat-form-field>
        <input matInput placeholder={{nameLabel}} name="name" [(ngModel)]="pet.name" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field *ngIf="filteredBreeds">
        <input matInput placeholder={{breedLabel}} aria-label="Breed"
               [matAutocomplete]="breedAuto" [formControl]="breedCtrl"
               [(ngModel)]="pet.breed" required>
        <mat-autocomplete #breedAuto="matAutocomplete" name="breed" [displayWith]="displayFn">
          <mat-option *ngFor="let breed of filteredBreeds | async" [value]="breed">{{breed.description}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field *ngIf="filteredAges">
        <input matInput placeholder={{ageLabel}} aria-label="Age"
               [matAutocomplete]="ageAuto" [formControl]="ageCtrl"
               [(ngModel)]="pet.age" required>
        <mat-autocomplete #ageAuto="matAutocomplete" name="age" [displayWith]="displayFn">
          <mat-option *ngFor="let age of filteredAges | async" [value]="age">{{age.description}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field *ngIf="filteredSex">
        <input matInput placeholder={{sexLabel}} aria-label="Sex"
               [matAutocomplete]="sexAuto" [formControl]="sexCtrl"
               [(ngModel)]="pet.sex" required>
        <mat-autocomplete #sexAuto="matAutocomplete" name="sex">
          <mat-option *ngFor="let sex of filteredSex | async" [value]="sex">{{sex}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field *ngIf="filteredColours">
        <input matInput placeholder={{colourLabel}} aria-label="Colour"
               [matAutocomplete]="colourAuto" [formControl]="colourCtrl"
               [(ngModel)]="pet.colour" required>
        <mat-autocomplete #colourAuto="matAutocomplete" name="colour" [displayWith]="displayFn">
          <mat-option *ngFor="let colour of filteredColours | async" [value]="colour">{{colour.description}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>



    <div>
      <app-file-upload [images]="pet.pictures" (notify)="onNotifyImages($event)"></app-file-upload>
    </div>

    <div>
      <button type="submit" mat-raised-button (click)="save()">{{btnSaveCaption}}</button>
    </div>


  </form>


</div>
