<div class="search-form" >
  <mat-grid-list *ngIf="pets" cols="3" rowHeight="2:2.6">
    <mat-grid-tile class="search-item" *ngFor="let pet of pets">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><b>{{pet.name}}</b></mat-card-title>
          <mat-card-subtitle>{{pet.lastChanged}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{imageUrl}}/{{pet.pictures[0]}}">
        <mat-card-content>
          <p>
            <b>Age:</b> {{pet.age.description}}<br/>
            <b>Breed:</b> {{pet.breed[0].description}}<br/>
            <b>Sex:</b> {{pet.sex}}<br/>
            <b>Colour:</b> {{pet.colour[0].description}}<br/>
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
